<%if(index){ %>
<div class="article_box">
    <%
      var art = theme.article_index,art_arr
      for (var i = 0; i < art.length; i++) { 
      art_arr = art[i]
    %>
    <article class="article_index">
        <h4><i class="<%=art_arr.icon%>"></i><%=art_arr.title%></h4>
        <p>
        <%if(art_arr.title == "Github"){%>
            <a target="_blank" href="https://github.com/<%=art_arr.content%>/network"><img src="https://img.shields.io/github/forks/<%=art_arr.content%>.svg" /></a>
            <a target="_blank" href="https://github.com/<%=art_arr.content%>/stargazers"><img src="https://img.shields.io/github/stars/<%=art_arr.content%>.svg" /></a>
            <a target="_blank" href="https://github.com/<%=art_arr.content%>/issues"><img src="https://img.shields.io/github/issues/<%=art_arr.content%>.svg" /></a>
            <a target="_blank" href="https://github.com/<%=art_arr.content%>/releases"><img src="https://img.shields.io/github/release/<%=art_arr.content%>.svg" /></a>
        <%}else{%>
        <%=art_arr.content%>
        <%}%>
        </p>
    </article>
    <%}%>
    <div class="clear"></div>
</div>
<%}%>