<% if(post.type == 'API'){ %>
    <div class="article-inner ">
          <%- partial('post/gallery') %>
          <% if (post.link || post.title){ %>
            <!--<header class="article-header">
              <%- partial('post/title', {class_name: 'article-title'}) %>
            </header>-->
          <% } %>
          <div class="article-entry" itemprop="articleBody">
            <div class="page-toc">
              <%- toc(page.content) %>
            </div>
            <% if (post.excerpt && index){ %>
              <%- post.excerpt %>
              <% if (theme.excerpt_link){ %>
                <p class="article-more-link">
                  <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                </p>
              <% } %>
            <% } else { %>
              <%- post.content %>
            <% } %>
          </div>
          <footer class="article-footer">
            <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
            <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">Share</a>
            <% if (post.comments && (config.disqus_shortname||config.duoshuo_shortname)){ %>
              <a href="#comments" class="article-comment-link">Comments</a>
            <% } %>
            <%- partial('post/tag') %>
          </footer>
    </div>
<%}else if(post.type == 'categories'){ %>
    类别
<% }else if(post.type == 'blog'){%>
    <%- partial('article-blog', {class_name: 'article-title'}) %>
<%}else{ %>
    <article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
      <div class="article-meta">
        <% if (post.link || post.title){ %>
          <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
          </header>
        <% } %>

        <!--<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>-->
        <!-- <%- partial('post/category') %> -->
      </div>
      <div class="article-inner">
            <%- partial('post/gallery') %>
            <% if (post.link || post.title){ %>
              <!--<header class="article-header">
                <%- partial('post/title', {class_name: 'article-title'}) %>
              </header>-->
            <% } %>
            <div class="article-entry" itemprop="articleBody">
              <div class="page-toc">
                <%- toc(page.content) %>
              </div>
              <% if (post.excerpt && index){ %>
                <%- post.excerpt %>
                <% if (theme.excerpt_link){ %>
                  <p class="article-more-link">
                    <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
                  </p>
                <% } %>
              <% } else { %>
                <%- post.content %>
              <% } %>
            </div>
            <footer class="article-footer">
              <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
              <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link">Share</a>
              <% if (post.comments && (config.disqus_shortname||config.duoshuo_shortname)){ %>
                <a href="#comments" class="article-comment-link">Comments</a>
              <% } %>
              <%- partial('post/tag') %>
            </footer>
      </div>
      <% if (!index){ %>
        <%- partial('post/nav') %>
      <% } %>
    </article>
    <script type="text/javascript">
      window.onscroll = function(){ 
        $(function(){
          var $toc = $('.page-toc'),
              $article = $('.article-entry')
              toc_top = $toc.offset().top
              tocsub_width = $toc.children().width()
              article_height = $article.children().height()
              scroll_top = document.body.scrollTop
              screen_h = $(window).height()
              footer_top = $('.article-footer').offset().top - $(window).height()
              if(toc_top&&scroll_top&&scroll_top>toc_top&&scroll_top<footer_top){
                $toc.children().css({
                  "position": "fixed",
                  "height": (screen_h -20)+'px',
                  "overflow": "auto"
                })
                $article.css('margin-right',tocsub_width+'px')
              }else{
                $toc.children().css({
                  "position": "relative",
                  "height":'inherit',
                  "overflow": "auto"
                })
                $article.css('margin-right',0+'px')
              }
        })
      } 
    </script>
<% }%>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>


<% if (!index && post.comments && config.duoshuo_shortname){ console.log("post.title::",post.path);%>
  <section id="comments">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= post.path %>" data-title="<%= post.title %>" data-url="<%= page.permalink %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= config.duoshuo_shortname %>'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
  </section>
<% } %>

